[Desktop Entry]
Type=Application
Name=Запуск Windows-программ
Exec=/usr/local/bin/geos-exe %f
Icon=wine
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/vnd.microsoft.portable-executable;application/x-msi;application/x-ms-shortcut;
NoDisplay=true
