[Desktop Entry]
Type=Application
Name=Установщик Android-приложений
Exec=/usr/local/bin/geos-apk %f
Icon=android
MimeType=application/vnd.android.package-archive;
NoDisplay=true
